.comment{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    column-gap: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.img-text > p{
    width: 200px;
    

    word-wrap: break-word;
}

.uploaded-img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

.img-text{
    width: 200px;
    margin-left: 35px;

    
}

.like-dislike{
    width: 20px;
    height: 20px;
    padding-bottom: 15px;
    background-color: rgb(226, 226, 214);
}

.container-like-dislike{
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(226, 226, 214);
}

.container-like-dislike > button{
    border: none;
    background-color: rgb(226, 226, 214);
    cursor: pointer;
}

.photourl{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    
    
}

.like-count{
  
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(226, 226, 214);    
    margin-left: 5px;
}

.comment > span{
    margin-left: 10px;
    width: 70px;
    word-wrap: break-word;
}

.viewall{
    margin-left: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 768px)
{

    .container-like-dislike{
        margin-left: 10px;
    }
    
    .img-text > p{
        width: 100px;
        margin-right: 15px;
        
    }

    .uploaded-img{
        width: 100px;
        height: 100px;
        background-size: contain;
    
        
    }

    .comment > span{
        width: 60px;
    }

    .comment{

        column-gap: 1px;
    }

    .img-text{
        margin-left: 35px;
    }

}
