.comment{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    column-gap: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.img-text > p{
    min-width: 200px;
    word-wrap: break-word;
}

.uploaded-img{
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.img-text{
    min-width: 160px;
    max-width: 160px;   
    margin-left: 35px;
    word-wrap: break-word;
  
    
}

.like-dislike{
    width: 100%;
    height: 20px;
    padding-bottom: 15px;
    background-color: rgb(226, 226, 214);
}

.container-like-dislike{
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(226, 226, 214);

}

.container-like-dislike > button{
    border: none;
    background-color: rgb(226, 226, 214);
    cursor: pointer;

}

.photourl{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    
    
}

.like-count{
  
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(226, 226, 214);    
    margin-left: 5px;
}

.comment > span{
    margin-left: 10px;
    min-width: 70px;
    max-width: 70px;
    word-wrap: break-word;
        
}

.viewall{
    margin-left: 30px;
    cursor: pointer;
}

.reply{
    color: gray;
    cursor: pointer;
    
}

@media only screen and (max-width: 768px)
{

    .container-like-dislike{
        margin-left: 19px;
        margin-right: 5px;
        width: 100px;
    }
    
    .img-text > p{
        width: 100px;
        font-size: small;
        word-wrap: break-word;
    }

    .uploaded-img{
        width: 100%;
        height: 100px;
        
    
        
    }

    .comment > span{
        min-width: 50px;
        max-width: 50px;
        font-size: small;
        word-wrap: break-word;
    }

    .comment{

        column-gap: 2px;
    }

    .img-text{
        margin-left: 25px;
        min-width: 120px;
        max-width: 120px;
        word-wrap: break-word;
    }

}
