.reply-container{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    padding: 2rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: black;
}

.reply-inner{
    min-width: 500px;
    max-width: 250px;
    min-height: 150px;
    max-height: 500px;
    background-color: white;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}


.replies-tag{
    padding-left: 8px;
    
    font-size: small;
    margin-top: 30px;
}

.previous-replies-url{
    width: 25px;
    height: 25px;
    border-radius: 90px;
}

.previous-replies{

    display: flex;
    flex-direction: column;
    padding-left: 30px;
    row-gap: 5px;
    

}

.previous-replies-inner{
    display: flex;
    justify-content: baseline;
    align-items: center;
    border: solid 2px grey;
    border-top: none;
    border-left: none;
    border-right: none;
     
    padding-left: 2px;
    
    
}

.previous-name{
    margin-left: 10px;
    min-width: 150px;
    max-width: 150px;
    word-wrap: break-word;
    font-size: small;
    font-weight: 500;
}

.previous-message{
    word-wrap: break-word;
    font-size: small;
    font-weight: 500;
    max-width: 250px;
}

.reply-textarea{
    resize: none;
    width: 480px;
}


.previous-reply-img{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 190px;
    max-width: 390px;
    padding-top: 1px;
    
    
    
}

.uploaded-img-reply{
    width: 100%;
}

@media only screen and (max-width: 768px){

    .reply-inner{
        min-width: 300px;
        max-width: 300px;
        overflow-x: hidden;
           
    }

    .reply-textarea{
        width: 300px;
    }

    .previous-replies{
        margin-left: 1px; 
        padding-left: 10px;
    }

    .previous-message{
        margin-left: 20px;
        word-wrap: break-word;
        min-width: 125px;
        max-width: 125px;
        font-size: small;
        font-weight: 500;
    }

    .previous-name{
        min-width: 100px;
        max-width: 100px;
        word-wrap: break-word;
        font-size: small;
        font-weight: 500;
    }

    .uploaded-img-original{
        
        width: 120px;
        height: 120px;
    }
    .original-message{
        padding-top: 50px;
    }

    .original-img-txt{
        margin-left: 5px;
        
        min-width: 120px;
        max-width: 120px;
    }

    .original-mess{
        font-size: small;
    }

    .original-name{
        font-size: small;
    }

}