.reply-container{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    padding: 2rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.reply-inner{
    min-width: 500px;
    height: 500px;
    background-color: white;
    border: solid 1px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    overflow-y: auto;
}

.original-message{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.original-name{
    min-width: 120px;
    max-width: 120px;
    margin-left: 10px;
    word-wrap: break-word;
} 

.original-mess{
    margin-left: 10px;
    min-width: 300px;
    max-width: 300px;
    word-wrap: break-word;
}

.replies-tag{
    padding-left: 8px;
    color: grey;
    font-size: small;
}

.previous-replies-url{
    width: 25px;
    height: 25px;
    border-radius: 90px;
}

.previous-replies{

    display: flex;
    flex-direction: column;
    padding-left: 50px;
    

}

.previous-replies-inner{
    display: flex;
    justify-content: baseline;
    align-items: center;
    border: solid 1px grey;
    padding-left: 2px;
}

.previous-name{
    margin-left: 10px;
    min-width: 150px;
    max-width: 150px;
    word-wrap: break-word;
}

.previous-message{
    margin-left: 30px;
    min-width: 300px;
    max-width: 300px;
    word-wrap: break-word;
}

.reply-textarea{
    resize: none;
}


@media only screen and (max-width: 768px){

    .reply-inner{
        min-width: 300px;
        max-width: 300px;
        overflow-x: hidden;
    }

    .reply-textarea{
        width: 300px;
    }

    .previous-replies{
        margin-left: 1px; 
        padding-left: 10px;
    }

    .previous-message{
        margin-left: 20px;
        word-wrap: break-word;
        min-width: 125px;
        max-width: 125px;
    }

    .previous-name{
        min-width: 100px;
        max-width: 100px;
        word-wrap: break-word;
    }

    .uploaded-img-original{
        
        width: 120px;
        height: 120px;
    }
    .original-message{
        padding-top: 30px;
    }

}